@model WorkshopPre.Data.Entities.DocumentType

@{
    ViewData["Title"] = "Edit";
}

<h4>Editar Tipo de Documento</h4>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <partial name="_DocumentType" />

            <div class="form-group">
                <button type="submit" value="Guardar" class="btn btn-primary">
                    <i class="fas fa-save"></i>
                </button>
                <a asp-action="Index" class="btn btn-success"><i class="fas fa-undo-alt"></i></a>
            </div>
        </form>
    </div>
</div>
<hr />


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
